.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 30px;
    background-color: #C39577;

    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }

        .title {
            color: white;
            line-height: 5px;
            font-size: 20px;
        }
    }

    .right {
        .logout {
            color: white;
        }
    }
}